<!DOCTYPE html>

<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta http-equiv="Content-Security-Policy" content="
        default-src 'self';
        img-src *;
        font-src 'self' fonts.googleapis.com fonts.gstatic.com https://teamsearch.ru/;
        style-src 'self' https://teamsearch.ru/;
        style-src-elem 'self' fonts.googleapis.com fonts.gstatic.com;
        style-src-attr 'self' 'unsafe-inline';
        script-src-elem 'self' https://mc.yandex.ru/ *.googlesyndication.com https://cdn.ampproject.org/v0/ https://teamsearch.ru/;
        script-src-attr 'self' 'unsafe-inline';
        child-src 'none';
        script-src 'self' https://mc.yandex.ru/ *.googlesyndication.com https://cdn.ampproject.org/v0/ https://teamsearch.ru/
    ">
    <meta charset="utf-8" />
    <script src="./js/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/favicon.png" type="image/png">
    <link rel="stylesheet" href="./css/null.css">

    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(80309821, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/80309821" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    <script data-ad-client="ca-pub-5919549074999845" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body style="opacity:0; transition: 1.5s;">

    {{{ body }}}

    <p class="not_supported">Недоступно для моб. устройств.</p>
    <p class="not_supported">Моб. версия сайта - <a href="https://m.teamsearch.ru">m.teamsearch.ru</a></p>
    <script src="./js/profile/report-popup.js"></script>
    <script src="./js/pageload.js"></script>
</body>
</html>
