<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/style-adaptive.css">

<header class="header" style="animation: header  3s 1 ease-in-out;">
        <a href="/profile"><div class="goto_profile">
            <div class="svg_arrow_down"></div>
            <img src="./images/main/Profileicon.png" class="logo-h-and-w" width="73" height="73">
            <h1 class="main_goto_profile_text">Профиль</h1>
        </div></a>
        <div class="header_menu_box">
            <h1 class="header_menu active">Главная</h1>
            <h1 class="header_menu"><a href="/search">Поиск</a></h1>
            <h1 class="header_menu"><a href="/shop">Магазин</a></h1>
        </div>
        <div class="logo__title">
            <img src="./images/main/logo.png" width="75" height="68">
            <a href="#"><h1 class="teamsearch_logo">TeamSearch</h1></a>
        </div>
    </header>
    <div class="content">
        <div class="section" style="animation: titleone  2s 1 ease-in-out;">
            <h1 class="main__text">Найди себе команду по душе!</h1>
            <p class="main__text">Форум для геймеров.</p>
            <a href="/login"><button>Искать</button></a>
            <div class="ad-adaptive"></div>
        </div>
        <div class="section" style="animation: titletwo  2s 1 ease-in-out;">
            <div class="img_example"></div>
            <div class="ad">
				<amp-ad width="100vw" height="320"
					 type="adsense"
					 data-ad-client="ca-pub-5919549074999845"
					 data-ad-slot="3680746940"
					 data-auto-format="rspv"
					 data-full-width="">
				  <div overflow=""></div>
				</amp-ad>
			</div>
        </div>
    </div>
